.container-ctm{
  .h1-ctm{
  color: $warna-text-color;
  font-family: 'Anton', serif;
  margin-top: 100px;
  font-size: 72pt;
  }
  .desc-header{
    color: $warna-text-color;
    font-family: 'Crete Round', Georgia, 'Times New Roman', serif;
    font-size: 17px;
    font-style: italic;
  }
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/bg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
