.row-ctm{
    color:$warna-text-color;
    .btn-primary{
      background-color: $secondary-color;
      border-color: $primary-color;
    }
}
.row-ctm-r{
    color:$warna-text-color;
    text-align: right;
    .btn-primary{
      background-color: $secondary-color;
      border-color: $primary-color;
      align-content: flex-end;
    }
}
.h1-ctm-2{
  color: $warna-text-color;
  font-family: 'Lobster', cursive;
  font-size: 24pt;
  margin-top: 50px;
}
#perkenalan{
  color: $warna-text-color;
  font-family: 'Arial';
  font-size: 14pt;
  margin-bottom: 50px;  
}